<div class="container d-flex">
    <div class="w-50 d-flex flex-column align-items-center">
        <h2>Real Time Products</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Thumbnail</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="products"></tbody>
        </table>
        <h2>Update Product</h2>
        <form id="update-form" class="d-flex flex-column align-items-center w-75"></form>
    </div>

    <div class="w-50 d-flex flex-column align-items-center">
        <h2>Add New Product</h2>
        <form id="product-form" class="d-flex flex-column align-items-center w-75">
            <div class="my-3">
                <label for="title" class="form-label"> Title: </label>
                <input id="product-title" type="text" name="title" class="form-control">
            </div>

            <div class="my-3">
                <label for="description" class="form-label"> Description: </label>
                <input id="product-description" type="text" name="description" class="form-control">
            </div>

            <div class="my-3">
                <label for="code" class="form-label"> Code: </label>
                <input id="product-code" type="text" name="code" class="form-control">
            </div>

            <div class="mb-3">
                <label for="price" class="form-label"> Price: </label>
                <input id="product-price" type="number" name="price" class="form-control">
            </div>

            <div class="mb-3 form-check">
                <label for="status" class="form-check-label"> Status: </label>
                <input id="product-status" type="checkbox" name="status" class="form-check-input">
            </div>

            <div class="my-3">
                <label for="stock" class="form-label"> Stock: </label>
                <input id="product-stock" type="number" name="stock" class="form-control">
            </div>

            <div class="my-3">
                <label for="category" class="form-label"> Category: </label>
                <input id="product-category" type="text" name="category" class="form-control">
            </div>

            <div class="mb-3">
                <label for="thumbnail" class="form-label"> Thumbnail: </label>
                <input id="product-thumbnail" type="text" name="thumbnail" class="form-control">
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>